# Gradle
**/.gradle/
**/build/
**/out/

# Gradle Wrapper
**/gradle-wrapper.jar
**/gradle-wrapper.properties

#IDEA
**/.idea/
**/*.iml
**/*.iws
**/*.ipr

#OS
.DS_Store
Thumbs.db
*.log

#Temporary
*.tmp
*.swp
*.swo
*.bak


#env
*.env
